.mobile-header {
  display: none;
}
@media mq-mobile {
  .mobile-header {
    display: block;
    height: 60px;
    color: #fff;
    text-align: center;
    background-color: #389a56;
    padding: 5px 10px;
  }
  .mobile-header .title {
    font-size: 32px;
    line-height: 32px;
    color: #fff;
    font-weight: bold;
    color: #fff;
    position: relative;
    left: 40px;
    top: 7px;
  }
  .mobile-header .sidebar-toggle {
    position: absolute;
    top: 15px;
    left: 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    vertical-align: middle;
    float: left;
  }
  .mobile-header .sidebar-toggle:focus {
    outline: 0;
  }
  .mobile-header .sidebar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 1px;
    background-color: #fff;
  }
  .mobile-header .sidebar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
  }
}
